body {
  direction: rtl;
  font-family: "iranyekan";
}
.navbar__button {
  margin-right: auto;
  padding: 0 15px;
  font-family: "iranyekan";
  position: relative;
  height: 28px;
  line-height: 28px;
  font-size: 12px;
  color: #808080;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 4px;

  display: inline-block;
  background: transparent;
}
.navbar__category__block:hover {
  color: #d73948;
}

.navbar__category__container {
  display: inline-flex;
  position: relative;
  height: 48px;
  width: 100%;
  padding: 0px 40px;
  background-color: #f9fafb;
  flex-direction: row;
  overflow: visible;
  align-items: center;
}
.navbar__category__block {
  font-family: "iranyekan";
  color: #808080;
  cursor: pointer;
  padding: 0;
  line-height: 48px;
  -webkit-margin-end: 24px;
  margin-inline-end: 24px;
  font-size: 14px;
  background-color: transparent;
  border: 0;
}
.navbar__logo {
  min-height: 50px;
  height: fit-content;
  margin-right: 15px;
  display: flex;
  flex-direction: row;
  background-color: #f9fafb;
  align-items: center;
  text-decoration: none;
}
.navbar__h1 {
  color: #d73948;
  margin-right: 5px;
}
.navbar__search {
  background-color: white;
  margin-top: 10px;
  height: 40px;
  margin-right: 10px;
  display: flex;
  width: 30%;
  border: 1px solid black;
  margin-bottom: 10px;
  border-radius: 4px;
}
.navbar__search__input {
  height: 100%;
  border: none;
  outline: none;
  width: 85%;
}
.navbar__search__input::placeholder {
  font-family: "iranyekan";
  font-size: 16px;
}
.navbar__search__button {
  width: 15%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
  background-color: #d73948;
}
.Navbar__Avatar {
  font-family: "iranyekan";
  cursor: pointer;
  display: inline-block;
  position: absolute;
  left: 25px;
}
