body {
  background-color: #f2f3f5;
  font-family: iranyekan, Aerial;
  height: 100%;
  margin: 0;
  font-size: 14px;
  color: #333;
}
* {
  box-sizing: border-box;
}
.Main__false {
  height: 180px;
}
.Main__logo__p__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Main__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Main__p__container {
  margin-right: 10px;
}
.Main__h1 {
  float: right;
  color: #d73948;
  display: block;
  font-size: 40px;
  font-weight: bold;
  min-width: 165px;
  margin: 0;
  padding: 0;
}
.Main__p1 {
  color: #808080;
  font-size: 14px;
  display: block;
  font-weight: normal;
  line-height: 25px;
}
.Main__input {
  border: 0;
  width: 25vw;
  padding: 0px 50px;
  height: 40px;
}
.search-button {
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 0;
  right: 45px;
  top: 10px;
}
